<div class="min-h-screen min-w-screen flex items-center justify-center bg-white-100">
    <div class="flex flex-col shadow-xl">
      <div class="py-6 px-14 bg-gradient-to-tr from-indigo-500 to-indigo-300 rounded-tl-2xl rounded-tr-2xl text-center space-y-8">
        <h2 class="text-white text-xs uppercase">Recuperar password</h2>
        <h4 class="text-white text-center font-bold text-xl">
          a todos nos pasa, tranquilo!
        </h4>
      </div>
      <div class="flex flex-col py-6 px-8 space-y-5 bg-white">
        <input [(ngModel)]="email" type="text" placeholder="Enter your email address" class="px-2 py-2 border-2 rounded-md border-gray-200 focus:outline-none focus:ring-1 focus:ring-pink-300 focus:border-transparent" />
        <button (click)="recovery()" class="w-full py-3 bg-indigo-400 text-white rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-pink-500 focus:border-transparent shadow-lg">Stay Inspired</button>
      </div>
    </div>
  </div>